page-login {
    
       .logo {
          display: block;
          margin: 5em auto;
          margin-top: 0;
          margin-bottom: 0;
          width: 200px;
       }
       .master{
       
            background-image: url('../assets/imgs/ground.jpg');
            
        
       }
    
    
       .login {
          background: rgba(255, 255, 255, 1);
          border-radius: 10px;
          margin: 1em;
          padding: 2em 5em 5em 2em;
    
          p {
                margin-bottom: 3em;
          }
    .reg{
          width: 5000dp;
    }
    
       
       }
    
    }