<!--
  Generated template for the LeagueTablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
    
    <ion-navbar>
      <ion-title>Top Scorers</ion-title>

    </ion-navbar>
    <style>
     p{
       font-weight: bold;
       
     }
        </style>
  </ion-header>
  
  <ion-content class="margin">
  
  <ion-grid   >
    <ion-row >
        <ion-col >
            <p>Foto</p>
        </ion-col>
      <ion-col >
          <p>Name</p>
      </ion-col>
      <ion-col >
        <p>Team</p>
      </ion-col>
      <ion-col >
          <p>Position</p>
        </ion-col>
      <ion-col >
          <p>Goals Scored</p>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  *ngIf="TopScorer " >
    <ion-row  *ngFor="let Scorer of TopScorer " >
        <ion-col>
            <img width="80dp" height="80dp" src={{Scorer.foto}}>
          </ion-col>
      <ion-col>
        {{Scorer.name}}
      </ion-col>
      <ion-col>
        {{Scorer.team}}
      </ion-col>
      <ion-col>
          {{Scorer.position}}
        </ion-col>
      <ion-col>
          {{Scorer.goals_Scored}}
        </ion-col>
       
        
          
    </ion-row>
  </ion-grid>
  
  
  </ion-content> -->
 <ion-header>
    
    <ion-navbar>
      <ion-title>PremierLeague Top Scorers</ion-title>

    </ion-navbar>
    <style>
      p{
        font-weight: bold;
        
      }
         </style>
   </ion-header>

  <ion-content class="margin2" >
  <ion-list  *ngIf="TopScorer " >
      <ion-item  class="margin3" *ngFor="let Scorer of TopScorer ">
        <ion-thumbnail item-start item-width="300dp" item-height="300dp">
            <img  src={{Scorer.foto}}>
        </ion-thumbnail>
        <h2> {{Scorer.name}}</h2>
        <h2> Goals: {{Scorer.goals_Scored}}</h2>
        <p> Team: {{Scorer.team}}</p>

      </ion-item>
      
      <button ion-button color="secondary" (click)="onButtonClick()">Add a player</button>
      <div *ngIf="addPlayer">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Goals</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Link to foto</ion-label>
        <ion-input type="url"></ion-input>
      </ion-item>
    </div>
    </ion-list>
  </ion-content>